.container {
  padding: 0 2rem;
}
.containerv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14px 0px;
}

.albumContainer {
  padding: 0 2rem;
  width: 20%;
  padding: 1rem;
  width: 23%;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
/* Style  A ajuster */
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
